* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  background: rgb(20, 20, 20);
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 3em;
  padding-right: 1em;
  height: 80px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header a:hover {
  color: rgb(182, 179, 179);
}

.logoicon {
  margin-bottom: 0.4em;
  padding-left: 20px;
  padding-top: 5px;
}

.linksinheader > * {
  color: rgb(148, 145, 145);
  text-decoration: none;
  align-items: center;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.myButton {
  /*background-color: rgb(148, 216, 216); /* Green */
  background-color: #d62e00;
  border: none;
  color: black;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: inset 0px 1px 0px 0px #3a0707;
  transition-duration: 0.4s;
  cursor: pointer;
}

.myButton:hover {
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.hamburger div {
  width: 23px;
  height: 3px;
  background-color: white;
  margin: 4px;
}
.hamburger {
  display: none;
}
.myButton2 {
  display: none;
}
/*
@media only screen and (max-width: 801px) {
  html {
    overflow-x: hidden;
  }
  .header-right {
    position: absolute;
    right: 0px;
    padding-bottom: 20px;
    top: 74px;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    z-index: 1;
    transform: translateX(100%);
  }
  .linkovi {
    padding: 15px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .myButton2 {
    background-color: #d62e00;
    border: none;
    color: #c9c6c6;
    padding: 3px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px 0px #3a0707;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
  }

  .myButton {
    display: none;
  }
}
*/
/*PRAVI GUMB PRIJAVI SE*/
/*
@media only screen and (max-width: 801px) {
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .header-right {
    position: absolute;
    right: 0px;
    padding-bottom: 20px;
    top: 74px;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: 50%;
    z-index: 1;
    transform: translateX(100%);
  }
  .linksinheader {
    display: flex;
    flex-direction: column;
  }
  .myButton {
    padding: 5px 21px;
  }
}
.linksinheader-active {
  transform: translateX(0%);
  opacity: 1;
}*/

@media only screen and (max-width: 830px) {
  html {
    overflow-x: hidden;
  }

  .linksinheader {
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 70px;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    z-index: 10;
    transform: translateX(100%);
  }
  .linkovi {
    padding: 15px;
  }
  .hamburger {
    display: block;
    cursor: pointer;
  }
  .myButton {
    display: none;
  }
  .myButton2 {
    background-color: #d62e00;
    border: none;
    color: #c9c6c6;
    padding: 3px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: inset 0px 1px 0px 0px #3a0707;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}

.linksinheader-active {
  transform: translateX(0%);
  opacity: 1;
  transition: transform 0.5s ease-in;
}

.mainphoto-container {
  position: relative;
  text-align: center;
}
.homephoto {
  max-width: 100%;
  height: inherit;
  max-height: 80vh;
}

.textonphoto {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 40px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  color: rgb(226, 221, 221);
  font-family: "Calibri", "Trebuchet MS", sans-serif;
}
.textonphoto p {
  padding-bottom: 20px;
}
.nasl {
  font-size: 60px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.buttonmore {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 9px;
  background-color: Transparent;
  color: white;
  border: 1px solid white;
  transition-duration: 0.4s;
}

.buttonmore:hover {
  background-color: #37313b;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.buttonmore:active {
  position: relative;
  top: 1px;
}

.buttonprijavise {
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #68c5e7;
  border-radius: 9px;
  border: 2px solid #30afb8;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 30px;
  margin-right: 20px;
}

.buttonprijavise:hover {
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
  height: 120px;
  text-align: center;
}

footer h1 {
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rezultati {
  width: 35vw;
  left: 56px;
  top: 93px;
  background: #dddbdb;
  border-radius: 5px;
  margin: 17px 40px;
  padding: 10px;
}

.rezultati p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.maindiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22px;
}

.raspored2 {
  background-color: #dddbdb;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  width: 350px;
  height: 145px;
  padding: 10px;
  margin-bottom: 10px;
}
.naslovkviza {
  font-size: 27px;
  font-weight: bold;
  margin-left: 5px;
}
.vrijemekviza {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5px;
  margin-top: 10px;
}
.lokacija {
  display: flex;
  margin-top: 5px;
}
.lokacija span {
  margin-left: 10px;
}
.datumkviza2 {
  display: flex;
  font-weight: bold;
}
.datumkviza2 span {
  margin-left: 10px;
}

.slike_sponzora > * {
  width: 220px;
  height: 110px;
}

.slike_sponzora {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  padding: 20px;
  margin-bottom: 30px;
}

@media only screen and (max-width: 957px) {
  .slike_sponzora {
    padding: 10px;
  }
  .slike_sponzora > * {
    width: 210px;
    height: 100px;
  }
}
@media only screen and (max-width: 930px) {
  .slike_sponzora {
    padding: 5px;
  }
  .slike_sponzora > * {
    width: 200px;
    height: 90px;
  }
}
@media only screen and (max-width: 865px) {
  .slike_sponzora {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding: 0px 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 666px) {
  .slike_sponzora {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding: 0px 20px;
    margin-bottom: 30px;
  }
  .slike_sponzora > * {
    width: 180px;
    height: 80px;
  }
}

@media only screen and (max-width: 595px) {
  .sponzori {
    font-size: 2rem;
  }
  .slike_sponzora {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    padding: 0px 15px;
    margin-bottom: 30px;
  }
  .slike_sponzora > * {
    width: 170px;
    height: 70px;
  }
}

@media only screen and (max-width: 551px) {
  .sponzori {
    font-size: 2rem;
  }
  .slike_sponzora {
    grid-column-gap: 40px;
    grid-row-gap: 30px;
    padding: 0px 25px;
    padding-left: 50px;
    margin-bottom: 30px;
  }
  .slike_sponzora > * {
    width: 180px;
    height: 80px;
  }

  .slike_sponzora > div:nth-child(3) {
    visibility: hidden;
  }
  .slike_sponzora > div:nth-child(6) {
    visibility: hidden;
  }
}

@media only screen and (max-width: 515px) {
  .slike_sponzora {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 0px 25px;
    padding-left: 40px;
  }
}
@media only screen and (max-width: 491px) {
  .slike_sponzora {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 0px 25px;
    padding-left: 30px;
  }
}
@media only screen and (max-width: 466px) {
  .sponzori {
    padding-bottom: 0;
  }
  .slike_sponzora {
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    padding: 0px 20px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 430px) {
  .slike_sponzora {
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    padding: 0px 20px;
    padding-left: 10px;
  }
  .slike_sponzora > * {
    width: 160px;
    height: 80px;
  }
}
@media only screen and (max-width: 420px) {
  .slike_sponzora {
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    padding: 0px 20px;
    padding-left: 30px;
  }
  .slike_sponzora > * {
    width: 160px;
    height: 80px;
  }
}

@media only screen and (max-width: 375px) {
  .slike_sponzora {
    grid-column-gap: 15px;
    grid-row-gap: 25px;
    padding: 0px 20px;
    padding-left: 15px;
  }
  .slike_sponzora > * {
    width: 150px;
    height: 60px;
  }
}
@media only screen and (max-width: 350px) {
  .slike_sponzora {
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    padding: 0px 3px;
  }
  .slike_sponzora > * {
    width: 150px;
    height: 60px;
  }
}
.vrijeme {
  justify-self: flex-end;
  padding-right: 10px;
}

.cont {
  display: flex;
  justify-content: space-between;
}

.osoba {
  margin-bottom: 40px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.osoba p {
  margin-bottom: 0.3rem;
}
.ime {
  font-weight: bold;
  margin-bottom: 0px;
}
.onama {
  margin: auto;
  width: 50%;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  padding-top: 20px;
  color: #2e4849;
}
.onama h1 {
  margin-top: 1.25rem;
  margin-bottom: 0.7rem;
}

.upravniodbor {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
}
.slikaosobe {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.naslovciljevi {
  padding-top: 30px;
  margin-bottom: 0.7rem;
}
.ciljevi1 {
  padding-bottom: 40px;
}
.uon {
  margin-bottom: 0.2rem;
}
.ciljevi {
  column-count: 2;
}
.ciljevi1 li {
  color: #2e4849;
}

.uloga {
  font-size: 12px;
  margin: 0;
}

@media only screen and (max-width: 400px) {
  footer {
    width: 375px;
    height: 100px;
  }

  .logoicon {
    margin-bottom: 0.4em;
    padding-left: 10px;
    padding-top: 5px;
    width: 85px;
  }
}

.isdisabled {
  pointer-events: none;
  text-decoration: none;
  cursor: not-allowed;
  opacity: 0.5;
}
@media only screen and (max-width: 875px) {
  .raspored,
  .rezultati {
    width: 300px;
  }
}

@media only screen and (max-width: 380px) {
  .upravniodbor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
  }
}
@media only screen and (max-width: 905px) {
  .linksinheader {
    font-size: 16px;
  }
  .logoicon {
    width: 90px;
    height: 90px;
  }
  .header {
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.menu-btn {
  background-color: rgb(15, 15, 15);
  color: rgb(216, 214, 214);
  border-radius: 9px;
  border-color: #dbc0ec;
  padding: 5px 10px;
  cursor: pointer;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
}

.dropdown-menu-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu-links {
  margin-bottom: 15px;
}

.dropdown-menu-content a {
  color: black;
  padding-left: 20px;
  padding-top: 20px;
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.dropdown-menu-content:hover {
  background-color: #ddd;
}

.dropdown-menu:hover .dropdown-menu-content {
  display: block;
}

.dropdown-menu:hover .dropdown-btn {
  background-color: #3e8e41;
}

/*POJAVLJIVA SE HAMBURGER*/
@media only screen and (max-width: 800px) {
  .header {
    padding-left: 5px;
  }
  .linksinheader {
    /*display: none;*/
  }
}

.blog-post {
  margin: auto;
  width: 50%;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  padding-top: 20px;
}

.datum {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.autor {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
}

.blog-post-content {
  margin-top: 50px;
}

.povrataknablog {
  font-size: 15px;
}

.prijava {
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.box {
  margin-top: 13px;
  padding: 10px;
  width: 250px;
  height: 40px;
  box-shadow: 2px 2px 2px #e4e3e3;
  cursor: pointer;
}

.butt {
  background: linear-gradient(to bottom, #33bdef 1%, #019ad2 100%);
  background-color: #68c5e7;
  border-radius: 9px;
  border: 2px solid #30afb8;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 40px;
  margin-top: 30px;
  margin-right: 20px;
}

.butt:hover {
  color: white;
  box-shadow: 0 12px 10px 0 #d6d5d5, 0 10px 40px 0 #d6d5d5;
}
.dropbtn {
  padding: 13px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.dropdown {
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  margin-top: 30px;

  display: inline-block;
}
.dropdownicon {
  margin-bottom: 0;
  height: 20px;
  color: gray;
}
.filtericona {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding-right: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  list-style-type: none;
}
.dropdown-content li {
  color: black;
  list-style-type: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filtericona:hover {
  background-color: #ddd;
}

.place {
  font-size: 25px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .textonphoto {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 843px) {
  .textonphoto {
    margin-top: 25px;
  }
  .nasl {
    font-size: 55px;
  }
}
@media only screen and (max-width: 773px) {
  .nasl {
    font-size: 50px;
  }
}
@media only screen and (max-width: 760px) {
  .nasl {
    font-size: 45px;
    padding-top: 100px;
  }

  .buttonmore {
    margin: 0;
  }
  .buttonprijavise {
    margin: 0;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 760px) {
  .nasl {
    font-size: 45px;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 750px) {
  .nasl {
    font-size: 45px;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .nasl {
    font-size: 45px;
    padding-top: 10px;
  }
  .buttonprijavise {
    padding: 6px 25px;
  }
  .buttonmore {
    padding: 7px 25px;
  }
}

@media only screen and (max-width: 660px) {
  .buttonprijavise {
    padding: 6px 20px;
  }
  .buttonmore {
    padding: 7px 20px;
  }
}

@media only screen and (max-width: 636px) {
  .onama {
    font-size: 16px;
  }
  .nasl {
    font-size: 40px;
    margin-bottom: 0;
  }
  .datumkviza {
    font-size: 35px;
  }
  .buttonprijavise {
    padding: 6px 20px;
  }
  .buttonmore {
    padding: 7px 20px;
  }
}

@media only screen and (max-width: 620px) {
  .buttonsonphoto {
    width: 320px;
  }
}

@media only screen and (max-width: 541px) {
  .nasl {
    font-size: 37px;
    margin-top: 20px;
  }
  .datumkviza {
    font-size: 30px;
  }
  .buttonsonphoto {
    width: 320px;
    margin-bottom: 20px;
  }
  .buttonmore {
    padding: 6px 20px;
  }

  .buttonprijavise {
    padding: 6px 20px;
  }
}
@media only screen and (max-width: 515px) {
  .nasl {
    font-size: 35px;
    margin-top: 27px;
  }
  .datumkviza {
    font-size: 30px;
  }
  .buttonsonphoto {
    width: 320px;
    margin-bottom: 24px;
  }
  .buttonmore {
    font-size: 14px;
    padding: 6px 20px;
  }

  .buttonprijavise {
    font-size: 14px;
    padding: 6px 16px;
  }
}
@media only screen and (max-width: 476px) {
  .buttonsonphoto {
    width: 320px;
    margin-bottom: 29px;
  }
  .buttonmore {
    font-size: 14px;
    padding: 6px 20px;
  }

  .buttonprijavise {
    font-size: 14px;
    padding: 6px 16px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 465px) {
  .textonphoto {
    padding: 0;
    margin-top: 0;
  }
  .buttonsonphoto {
    width: 320px;
    margin-bottom: 0px;
  }
  .buttonmore {
    font-size: 14px;
    padding: 6px 20px;
    margin-left: 10px;
  }

  .buttonprijavise {
    font-size: 14px;
    padding: 6px 16px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 453px) {
  .nasl {
    font-size: 33px;
    margin-top: 27px;
  }
  .datumkviza {
    font-size: 28px;
    padding-bottom: 2px;
  }

  .buttonsonphoto {
    width: 320px;
    margin-bottom: 5px;
  }

  .buttonmore {
    font-size: 13px;
    padding: 5px 18px;
    margin-left: 10px;
  }

  .buttonprijavise {
    font-size: 13px;
    padding: 5px 15px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 415px) {
  .textonphoto {
    margin-top: 6px;
  }
  .nasl {
    font-size: 31px;
    margin-top: 0px;
  }

  .datumkviza {
    font-size: 25px;
    margin-bottom: 2px;
  }

  .buttonsonphoto {
    width: 320px;
    margin-bottom: 0px;
  }

  .buttonmore {
    font-size: 12px;
    padding: 5px 15px;
    margin-left: 10px;
  }

  .buttonprijavise {
    font-size: 12px;
    padding: 5px 14px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 386px) {
  .nasl {
    font-size: 30px;
    margin-top: 0px;
  }
  .datumkviza {
    font-size: 22px;
    margin-bottom: 2px;
  }

  .buttonsonphoto {
    width: 320px;
    margin-bottom: 0px;
  }

  .buttonmore {
    font-size: 11px;
    padding: 4px 15px;
    margin-left: 13px;
  }

  .buttonprijavise {
    font-size: 11px;
    padding: 4px 14px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 356px) {
  .textonphoto {
    margin-top: 10px;
  }
  .nasl {
    font-size: 30px;
    margin-top: 0px;
  }
  .datumkviza {
    font-size: 22px;
    margin-bottom: 2px;
  }

  .buttonmore {
    font-size: 11px;
    padding: 4px 14px;
    margin-left: 13px;
  }

  .buttonprijavise {
    font-size: 11px;
    padding: 4px 13px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 322px) {
  .nasl {
    font-size: 28px;
    margin-top: 0px;
  }
  .datumkviza {
    font-size: 19px;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 0;
  }

  .buttonsonphoto {
    width: 320px;
    margin-bottom: 0px;
  }

  .buttonmore {
    font-size: 10px;
    padding: 3px 13px;
    margin-left: 13px;
    margin-bottom: 30px;
  }

  .buttonprijavise {
    font-size: 10px;
    padding: 3px 12px;
    margin-left: 5px;
    margin-bottom: 30px;
  }
}

.contact {
  height: 150px;
  background-color: black;
  color: white;

  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
}

.contactus {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 4px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 15px;
}

.citat {
  width: 17%;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-size: 15px;
  color: #b3e3f5;
}
.followus {
  margin-right: 30px;
}
.followus img {
  height: 40px;
  width: 130px;
}

.f2 {
  background-color: black;
  color: rgb(105, 104, 104);
  text-align: center;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
}

.arrowicon {
  width: 40px;
  height: 40px;
  margin: 0;
}
.arrowdiv {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 925px) {
  .slikaosobe {
    width: 120px;
    height: 120px;
  }
  .contact {
    font-size: 15px;
  }
}
@media only screen and (max-width: 905px) {
  .citat {
    font-size: 14px;
    width: 200px;
  }
  .contactus {
    font-size: 14px;
  }
}
@media only screen and (max-width: 871px) {
  .slikaosobe {
    width: 110px;
    height: 110px;
  }
}
@media only screen and (max-width: 820px) {
  .mail {
    font-size: 15px;
  }
  .ime {
    font-size: 15px;
  }
  .citat {
    font-size: 13px;
  }
}
@media only screen and (max-width: 807px) {
  .onama {
    font-size: 17px;
  }
}
@media only screen and (max-width: 753px) {
  .slikaosobe {
    width: 100px;
    height: 100px;
  }
  .followus {
    height: 20px;
    width: 110px;
  }
  .contactus {
    font-size: 14px;
  }
}
@media only screen and (max-width: 720px) {
  .ciljevi {
    column-count: 1;
  }
  .mail {
    font-size: 16px;
  }
  .ime {
    font-size: 16px;
  }
  .onama {
    width: 60%;
  }
}
@media only screen and (max-width: 637px) {
  .onama {
    width: 70%;
  }
}

@media only screen and (max-width: 595px) {
  .citat {
    width: 160px;
  }
  .followus {
    height: 20px;
    width: 105px;
  }
}

@media only screen and (max-width: 542px) {
  .slikaosobe {
    width: 90px;
    height: 90px;
  }
  .mail {
    font-size: 14px;
  }
  .citat {
    display: none;
  }
}
@media only screen and (max-width: 488px) {
  .onama {
    width: 80%;
  }
}
@media only screen and (max-width: 430px) {
  .onama {
    width: 90%;
  }
}
@media only screen and (max-width: 395px) {
  .slikaosobe {
    width: 80px;
    height: 80px;
  }
  .ime {
    font-size: 14px;
  }
}
@media only screen and (max-width: 322px) {
  .contactus {
    font-size: 13px;
  }
}
