* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  background: rgb(20, 20, 20);
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 3em;
  padding-right: 3em;
}

.header-right {
  display: flex;
  align-items: center;
}

.header a:hover {
  text-decoration: underline;
}

.logoicon {
  margin-bottom: 0.4em;
  padding-left: 20px;
  padding-top: 5px;
}

.linksinheader > * {
  color: white;
  text-decoration: none;
  align-items: center;
  padding: 25px;
}

.signinbutton {
  background-color: rgb(148, 216, 216); /* Green */
  border: none;
  color: black;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.mainphoto-container {
  position: relative;
  text-align: center;
}
.homephoto {
  height: 80vh;
}

.textonphoto {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(226, 221, 221);
  font-family: "Calibri", "Trebuchet MS", sans-serif;
}

.buttonmore {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 50px;
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 9px;
  background-color: white;
  color: black;
  border: 2px solid #727171;
  transition-duration: 0.4s;
}

.buttonmore:hover {
  background-color: gray;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.buttonmore:active {
	position:relative;
	top:1px;
}

.buttonprijavise {
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #68c5e7;
  border-radius: 9px;
  border: 2px solid #30afb8;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 30px;
  margin-right: 20px;
}

.buttonprijavise:hover {
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
  height: 120px;
  text-align: center;
}

footer h1 {
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: column;
}

.rezultati {
  width: 35vw;
  left: 56px;
  top: 93px;
  background: #dddbdb;
  border-radius: 5px;
  margin: 17px 40px;
  padding: 10px;
}

.rezultati p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.maindiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2 {
  display: flex;
}

.raspored {
  background-color: #dddbdb;
  width: 30vw;
  height: 85px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.slike_sponzora > * {
  width: 260px;
  height: 150px;
}

.slike_sponzora {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  padding: 40px;
}

.raspored h4 {
  padding-left: 10px;
}

.vrijeme {
  justify-self: flex-end;
  padding-right: 10px;
}

.cont {
  display: flex;
  justify-content: space-between;
}
