* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  background: rgb(20, 20, 20);
  color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-left: 3em;
  padding-right: 3em;
}

.header-right {
  display: flex;
  align-items: center;
}

.header a:hover {
  color: rgb(182, 179, 179);
}

.logoicon {
  margin-bottom: 0.4em;
  padding-left: 20px;
  padding-top: 5px;
}

.linksinheader > * {
  color: rgb(148, 145, 145);
  text-decoration: none;
  align-items: center;
  padding: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.myButton {
  /*background-color: rgb(148, 216, 216); /* Green */
  background-color: #d62e00;
  border: none;
  color: black;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  box-shadow: inset 0px 1px 0px 0px #3a0707;
  transition-duration: 0.4s;
  cursor: pointer;
}

.myButton:hover {
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.mainphoto-container {
  position: relative;
  text-align: center;
}
.homephoto {
  max-width: 100%;
  max-height: 80vh;
}

.textonphoto {
  position: absolute;
  top: 40%;
  left: 50%;
  font-size: 40px;
  font-weight: bold;
  transform: translate(-50%, -50%);
  color: rgb(226, 221, 221);
  font-family: "Calibri", "Trebuchet MS", sans-serif;
}
.textonphoto p {
  padding-bottom: 20px;
}
.nasl {
  font-size: 60px;
  padding-bottom: 30px;
}

.buttonmore {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 30px;
  margin-right: 20px;
  border-radius: 9px;
  background-color: Transparent;
  color: white;
  border: 1px solid white;
  transition-duration: 0.4s;
}

.buttonmore:hover {
  background-color: #37313b;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.buttonmore:active {
  position: relative;
  top: 1px;
}

.buttonprijavise {
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #68c5e7;
  border-radius: 9px;
  border: 2px solid #30afb8;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 30px;
  margin-right: 20px;
}

.buttonprijavise:hover {
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

footer {
  height: 120px;
  text-align: center;
}

footer h1 {
  padding: 20px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.rezultati {
  width: 35vw;
  left: 56px;
  top: 93px;
  background: #dddbdb;
  border-radius: 5px;
  margin: 17px 40px;
  padding: 10px;
}

.rezultati p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.maindiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div2 {
  display: flex;
}

.raspored {
  background-color: #dddbdb;
  width: 30vw;
  height: 85px;
  border-radius: 5px;
  margin: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.slike_sponzora > * {
  width: 260px;
  height: 150px;
}

.slike_sponzora {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 40px;
  padding: 40px;
}

.raspored h4 {
  padding-left: 10px;
}

.vrijeme {
  justify-self: flex-end;
  padding-right: 10px;
}

.cont {
  display: flex;
  justify-content: space-between;
}

.osoba {
  margin-bottom: 40px;
}
.osoba p {
  margin-bottom: 0.3rem;
}
.onama {
  margin: auto;
  width: 50%;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  padding-top: 20px;
}

.upravniodbor {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.slikaosobe {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.naslovciljevi {
  padding-top: 30px;
}
.ciljevi1 {
  padding-bottom: 40px;
}
.ciljevi {
  column-count: 2;
}

@media only screen and (max-width: 400px) {
  .sponzori {
    padding: 15px;
    margin-left: -10px;
    margin-bottom: 0;
  }

  .slike_sponzora {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    padding-left: 35px;
    padding-right: 50px;
    padding-top: 0px;
  }

  .slike_sponzora > * {
    width: 100px;
    height: 40px;
  }

  footer {
    width: 375px;
    height: 100px;
  }

  .linksinheader {
    display: none;
  }

  .myButton {
    display: none;
  }

  .logoicon {
    margin-bottom: 0.4em;
    padding-left: 10px;
    padding-top: 5px;
    width: 85px;
  }
}

.isdisabled {
  pointer-events: none;
  text-decoration: none;
  cursor: not-allowed;
  opacity: 0.5;
}
@media only screen and (max-width: 750px) {
  .raspored,
  .rezultati {
    width: 300px;
  }
}

@media only screen and (max-width: 380px) {
  .upravniodbor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 30px;
  }
}

/* grid sponzora mora imat 2 stupca*/
@media only screen and (max-width: 885px) {
  .slike_sponzora {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    padding-left: 35px;
    padding-right: 50px;
    padding-top: 0px;
  }
}

/* grid sponzora mora imat 1 stupac - ili smanjit slike i stavit ih u stupce*/
@media only screen and (max-width: 606px) {
  .slike_sponzora {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    padding-left: 35px;
    padding-right: 50px;
    padding-top: 0px;
  }
}

@media only screen and (max-width: 910px) {
  .linkovi {
    font-size: 16px;
  }

  .logoicon {
    width: 90px;
    height: 90px;
  }
  .header {
    padding-left: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

/*POJAVLJIVA SE HAMBURGER*/
@media only screen and (max-width: 800px) {
  .linksinheader {
    display: none;
  }
  .header {
    padding-left: 5px;
  }
}

.blog-post {
  margin: auto;
  width: 50%;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  padding-top: 20px;
}

.datum {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}
.autor {
  display: flex;
  justify-content: flex-end;
  font-size: 15px;
}
.blog-post-content {
  margin-top: 50px;
}

.prijava {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.box {
  margin: 20px;
  padding: 10px;
  width: 230px;
  height: 40px;
  box-shadow: 5px 5px 5px #aaaaaa;
  cursor: pointer;
}

.butt {
  background: linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
  background-color: #68c5e7;
  border-radius: 9px;
  border: 2px solid #30afb8;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 30px;
  margin-top: 30px;
  margin-right: 20px;
}

.butt:hover {
  color: white;
  box-shadow: 0 12px 16px 0 #aaaaaa, 0 17px 50px 0 #aaaaaa;
}
.dropbtn {
  padding: 13px;
  font-size: 16px;
  font-weight: bold;
  border: none;
}

.dropdown {
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  margin-top: 30px;

  display: inline-block;
}
.dropdownicon {
  margin-bottom: 0;
  height: 20px;
  color: gray;
}
.filtericona {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
  padding-right: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content li a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
  list-style-type: none;
}
.dropdown-content li {
  color: black;
  list-style-type: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filtericona:hover {
  background-color: #ddd;
}

.place {
  font-size: 25px;
}
@media only screen and (min-width: 801px) {
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .textonphoto {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 843px) {
  .textonphoto {
    padding-top: 40px;
  }
  .nasl {
    font-size: 50px;
  }
}

@media only screen and (max-width: 760px) {
  .nasl {
    font-size: 45px;
    padding-top: 100px;
  }

  .buttonmore {
    margin: 0;
  }
  .buttonprijavise {
    margin: 0;
    margin-left: 10px;
  }
}

@media only screen and (max-width: 760px) {
  .nasl {
    font-size: 45px;
    padding-top: 50px;
  }
}
@media only screen and (max-width: 750px) {
  .nasl {
    font-size: 45px;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 700px) {
  .nasl {
    font-size: 45px;
    padding-top: 10px;
  }
  .buttonprijavise {
    padding: 6px 25px;
  }
  .buttonmore {
    padding: 7px 25px;
  }
}

@media only screen and (max-width: 660px) {
  .buttonprijavise {
    padding: 6px 20px;
  }
  .buttonmore {
    padding: 7px 20px;
  }
}

@media only screen and (max-width: 636px) {
  .nasl {
    font-size: 40px;
    margin-bottom: 0;
  }
  .datumkviza {
    font-size: 35px;
  }
  .buttonprijavise {
    padding: 6px 20px;
  }
  .buttonmore {
    padding: 7px 20px;
  }
}

@media only screen and (max-width: 620px) {
  .buttonsonphoto {
    width: 320px;
  }
}

@media only screen and (max-width: 541px) {
  .nasl {
    font-size: 37px;
    margin-top: 20px;
  }
  .datumkviza {
    font-size: 30px;
  }
  .buttonsonphoto {
    width: 320px;
    margin-bottom: 20px;
  }
  .buttonmore {
    padding: 6px 20px;
  }

  .buttonprijavise {
    padding: 6px 20px;
  }
}
@media only screen and (max-width: 515px) {
  .nasl {
    font-size: 35px;
    margin-top: 27px;
  }
  .datumkviza {
    font-size: 30px;
  }
  .buttonsonphoto {
    width: 320px;
    margin-bottom: 24px;
  }
  .buttonmore {
    font-size: 14px;
    padding: 6px 20px;
  }

  .buttonprijavise {
    font-size: 14px;
    padding: 6px 16px;
  }
}
@media only screen and (max-width: 476px) {
  .buttonsonphoto {
    width: 320px;
    margin-bottom: 29px;
  }
  .buttonmore {
    font-size: 14px;
    padding: 6px 20px;
  }

  .buttonprijavise {
    font-size: 14px;
    padding: 6px 16px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 465px) {
  .buttonsonphoto {
    width: 320px;
    margin-bottom: 29px;
  }
  .buttonmore {
    font-size: 14px;
    padding: 6px 20px;
    margin-left: 10px;
  }

  .buttonprijavise {
    font-size: 14px;
    padding: 6px 16px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 453px) {
  .nasl {
    font-size: 33px;
    margin-top: 27px;
  }
  .datumkviza {
    font-size: 28px;
    padding-bottom: 2px;
  }

  .buttonsonphoto {
    width: 320px;
    margin-bottom: 45px;
  }

  .buttonmore {
    font-size: 13px;
    padding: 5px 18px;
    margin-left: 10px;
  }

  .buttonprijavise {
    font-size: 13px;
    padding: 5px 15px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 415px) {
  .nasl {
    font-size: 31px;
    margin-top: 40px;
  }
  .datumkviza {
    font-size: 25px;
    margin-bottom: 2px;
  }

  .buttonsonphoto {
    width: 320px;
    margin-bottom: 50px;
  }

  .buttonmore {
    font-size: 12px;
    padding: 5px 15px;
    margin-left: 10px;
  }

  .buttonprijavise {
    font-size: 12px;
    padding: 5px 14px;
    margin-left: 5px;
  }
}

@media only screen and (max-width: 386px) {
  .nasl {
    font-size: 30px;
    margin-top: 40px;
  }
  .datumkviza {
    font-size: 22px;
    margin-bottom: 2px;
  }

  .buttonsonphoto {
    width: 320px;
    margin-bottom: 50px;
  }

  .buttonmore {
    font-size: 11px;
    padding: 4px 15px;
    margin-left: 13px;
  }

  .buttonprijavise {
    font-size: 11px;
    padding: 4px 14px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 356px) {
  .nasl {
    font-size: 30px;
    margin-top: 40px;
  }
  .datumkviza {
    font-size: 22px;
    margin-bottom: 2px;
  }

  .buttonmore {
    font-size: 11px;
    padding: 4px 14px;
    margin-left: 13px;
  }

  .buttonprijavise {
    font-size: 11px;
    padding: 4px 13px;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 322px) {
  .nasl {
    font-size: 28px;
    margin-top: 75px;
  }
  .datumkviza {
    font-size: 19px;
    margin-bottom: 0px;
    padding: 0;
    padding-bottom: 0;
  }

  .buttonsonphoto {
    width: 320px;
    margin-bottom: 70px;
  }

  .buttonmore {
    font-size: 10px;
    padding: 3px 13px;
    margin-left: 13px;
    margin-bottom: 30px;
  }

  .buttonprijavise {
    font-size: 10px;
    padding: 3px 12px;
    margin-left: 5px;
    margin-bottom: 30px;
  }
}
